# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/cashier_fe/node_modules
/cashier_be/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/cashier_fe/.env.local
/cashier_fe/.env.development.local
/cashier_fe/.env.test.local
/cashier_fe/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
